._*
node_modules/
.env
dist/
android/.gradle/
android/app/build/
android/app/src/main/assets/public/
android/build/
ios/App/Pods/
ios/App/build/
ios/App/App/public/
ios/DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
